footer
  .container.footer-container
    .school 
      a(class='school-text' href='https://rs.school/') RS School 2020q1
    .account
      a(class='account-text' href='https://github.com/kate-latushkina?tab=repositories') My github