extends ../../layout.pug

block content
  
  main#main
    .container
      .search
        .search-img-input
        .keyboard-img-input
        .clear-img-input
        input(type="text" class='search-input' placeholder='Search movie' autofocus)
        button.search-button Search
        span.clear
        span.keyboard
      .info Error
      .slider
        .movie
  section.background
