header
    .container
        button.burger-button 
        h2.logo English4kids
        .game-checkbox
            input(
                type='checkbox'
            ).check
            label(for="").swichOn Train
            label(for="").swichOff Play
    nav#nav
        ul.burger_menu
            li 
                a.burger_menu-line(href='#Main') Main page
            li 
                a.burger_menu-line(href='#Action') Action
            li
                a.burger_menu-line(href='#Colors') Colors
            li
                a.burger_menu-line(href='#Animal') Animal
            li
                a.burger_menu-line(href='#Vegetables') Vegetables
            li
                a.burger_menu-line(href='#Clothes') Clothes
            li
                a.burger_menu-line(href='#Emotions') Emotions
            li
                a.burger_menu-line(href='#Food') Food
            li
                a.burger_menu-line(href='#Fruits') Fruits