// @import "~bulma/bulma";

@import "./base-resources/colors";
@import "./base-resources/normalize";
@import "./base-resources/specification";

@import "./blockStyles/header";
@import "./blockStyles/main";
@import "./blockStyles/index";
@import "./blockStyles/category";
