<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <link href="https://fonts.googleapis.com/css?family=Comic+Neue:400,700|Montserrat:300,400|Sriracha&display=swap" rel="stylesheet">  
        title English4kids
        block extraHead

    body
        .wrapper
            include ./views/includes/header

            block content