header {
  width: 100%;
  background-image: $headerBG;
  position: relative;
  padding: 20px 15px;
}

.burger-button.burger-active {
  transform: rotate(90deg);
}
.logo {
  font-family: 'Sriracha', cursive;
  font-size: 5rem;
  color: white;
  text-align: center;
  margin-left: 80px;
}

.burger-button  {
  display: block;
  z-index: 11;
  width: 30px;
  height: 25px;
  background-color: transparent;
  background-image: url(../images/header-burger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease 0.5s;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

#nav {
  left: -50%;
  transition: all 0.5s ease-out;
  position: fixed;
  top: 0;
  width: 25%;
  min-width: 250px;
  height: 100%;
  background-color: #483D8B;
  display: block;
  z-index: 10;
}
#nav.burger-active {
  left: 0;
}
.nav-active {
  color: yellow;
}

.burger_menu {
  display: none;
  text-transform: uppercase;
  text-align: right;
  font-size: 2.5rem;
  flex-direction: column;
  padding: 0;
}

.burger_menu.active-menu {
  display: block;
  padding-top: 50px;
  li {
    left: inherit;
    margin-top: 20px;
    margin-right: 10%;
    cursor: pointer;
    &:first-child {
      margin-top: 80px;
    }
    a {
      color: white; 
      &:hover {
        text-decoration: underline;
        text-decoration-color: yellow;
      }
    }
  }
}

.game-checkbox {
  position: relative;
  display: block;
  height: 45px;
  .check{
    width: 120px;
    height: 40px;
    -webkit-appearance: none;
    background-image: $trainBG;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba($color: #000000, $alpha: 0.2);
    transition: 0.5s;
  }
  .check:checked {
    background-image: $playBG;
  }
  .check::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 80px;
    background-color: white;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.2);
  }
  .check:checked::before {
    left: 0;
  }
}

label {
  position: absolute;
  color: white;
  font-size: 26px;
  pointer-events: none;
  transition: ease 0.4s;
}
.swichOn {
  opacity: 1;
  bottom: 11px;
  left: 15px;
}
.swichOff {
  opacity: 0;
  bottom: 11px;
  right: 14px;
}


.shadow::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #483D8B;
  opacity: 0.4;
  z-index: -1;
}