.mainCards {
  width: 270px;
  height: 240px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  color: #212529;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin: 20px 0;
  cursor: pointer;
  transition: .3s;
  position: relative;
}
.kidsCard {
  width: 270px;
  height: 240px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  color: #212529;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin: 20px 0;
  cursor: pointer;
  transition: .3s;
  position: relative;
}
.cardsBG-train {
  background: $cardsTrainBG;
}
.cardsBG-play {
  background: $cardsPlayBG;
}
main {
  flex-wrap: wrap;
}
#main-title {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(241, 241, 4);
}
.card-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: text-bottom;
}
.main-card-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #fff;
  object-fit: cover;
  margin: 30px auto;
}
.card-pic {
  height: inherit;
  min-height: 200px;
  object-fit: cover;
}

.reverse {
  position: absolute;
  background-image: url(../images/rotate.svg);
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  outline: none;
  margin-top: auto;
  margin-bottom: auto;
  top: 203px;
  right: 15px;
  
}

.flip-card {
  transform: rotateY(180deg);
  transition: ease 0.8s;
}