$trainBG: linear-gradient(180deg, #4508c3, #0069ee, #0095dc, #00b7b8, #92d1b0);
$playBG: linear-gradient(to top, #f0e35f, #faa650, #e86d5e, #ba446f, #753174);
$headerBG: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
$cardsTrainBG: linear-gradient(180deg,#4508c3,#00b7b8 40%,#fff 0,#fff);
$cardsPlayBG: linear-gradient(180deg,#753174,#feb46b 40%,#fff 0,#fff);