html {
  font-size: 10px;
  line-height: 1.2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;
  background: transparent;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  min-height: 1px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Comic Neue', cursive;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.wrapper {
  width: 100%;
}